@model Shop.Web.Models.ProductViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <!--Ya acá me crea un formulario Create, basado enla acción de create-->
        <!--110719 Después de crear el modelo ProductViewModel, adicionamos enctype="multipart/form-data
            para que ese objeto InFormFile no se nos pierda.Ahora cambiamos ImageUrl por ImageFIle-->
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!--Por cada campo del formulario me pinta un form grop con 3 campos
        Label =titulo de la propiedad Name, Input= cuadro de texto donde yo ingreso nombre producto
        y asp-validation-form = en caso de error, infrinja la anotation del modelo (required) sale mensaje-->
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <!--Cambio ImageUrl por ImageFile, y adicionamos type="file para habilitar boton examinar"-->
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file"/>
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastPurchase" class="control-label"></label>
                <input asp-for="LastPurchase" class="form-control" />
                <span asp-validation-for="LastPurchase" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastSale" class="control-label"></label>
                <input asp-for="LastSale" class="form-control" />
                <span asp-validation-for="LastSale" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvailabe" /> @Html.DisplayNameFor(model => model.IsAvailabe)
                </label>
            </div>

            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>

            <!--Cuando clicken en este botón Submit, se ejecuta la acción POST/create-->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>

        </form>
    </div>
</div>
<!--el REndring validation scripts, permiten que cuando no ingrese pej descripción me salga en rojo el error
    es decir me renderiza los javascript que lo permiten-->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
